In [11]:
import os
import sys
import pandas as pd

# Allow import from root folder
sys.path.append(os.path.abspath('..'))

# Import calculation function
from services.nutrition_calculation.calculations import process_user_row

In [12]:
user_profile_df = pd.DataFrame([{
    "id": "9999",  # Manual ID
    "name": "Artemis",
    "email": "artemis@example.com",
    "age": 27,
    "sex": "Male",
    "weight_kg": 68,
    "height_cm": 173,
    "activity_level": "Moderately Active",  # Must match expected strings
    "exercise_frequency_per_week": 4
}])

user_profile_df

,id,name,email,age,sex,weight_kg,height_cm,activity_level,exercise_frequency_per_week
0,9999,Artemis,artemis@example.com,27,Male,68,173,Moderately Active,4

In [14]:
# 🎯 Your Health Goals
user_preferences_df = pd.DataFrame([{
    'user_id': 9999,
    "health_conditions": ["none"],  # list of conditions
    "goal_type": "muscle_gain",      # match with what calculations expects
    "motivation": "Increase strength and energy",
    "dietary_restrictions": "Shellfish",
    "preferred_cuisines": "Mediterranean, Indian"
}])

user_preferences_df

,user_id,health_conditions,goal_type,motivation,dietary_restrictions,preferred_cuisines
0,9999,[none],muscle_gain,Increase strength and energy,Shellfish,"Mediterranean, Indian"

In [15]:
# 🧠 Process row to calculate
user_row = user_profile_df.iloc[0]
pref_row = user_preferences_df.iloc[0]

nutrition_targets = process_user_row(user_row, pref_row)

# 🥗 Create a DataFrame for targets
nutrition_targets_df = pd.DataFrame([nutrition_targets])

nutrition_targets_df

,user_id,optimal_calories,protein_g,carbs_g,fat_g,ibw_kg,health_conditions,goals,motivation
0,9999,2876.97,251.73,287.7,79.92,70.15,[['none']],[muscle_gain],Increase strength and energy

In [17]:
from datetime import datetime, timedelta

# 🗓️ Set the starting date (today)
today = datetime.now()

# ✍️ Manually define your meals for each day
manual_meals = [
    # Format: (day_offset, meal_time (hh:mm), meal_type, meal_name)
    (6, "08:00", "Breakfast", "Mixed nuts and watermelon"),
    (6, "13:00", "Lunch", "Grilled chicken salad"),
    (6, "19:30", "Dinner", "Matar paneer with roti"),
    (6, "22:00", "Snack", "Protein bar"),
    
    (5, "09:00", "Breakfast", "Greek yogurt with berries"),
    (5, "12:30", "Lunch", "Matar Paneer with Rice"),
    (5, "15:00", "Snack", "Grapes"),
    (5, "20:00", "Dinner", "Vegetable stir fry"),
    
    (4, "08:30", "Breakfast", ""),
    (4, "14:00", "Lunch", "2 burgers"),
    (4, "19:00", "Dinner", "Noodles with mixed vegetables and eggs"),
    (4, "22:00", "Snack", "Protein Shake"),
    
    (3, "08:30", "Breakfast", ""),
    (3, "14:00", "Lunch", "Chicken curry with brown rice"),
    (3, "19:00", "Dinner", "Rice with chicken curry"),

    (2, "08:30", "Breakfast", "glass of milk"),
    (2, "14:00", "Lunch", "Rice with chicken curry"),
    (2, "19:00", "Dinner", "Kebab and 3 rotis"),

    (1, "08:30", "Breakfast", "A Banana"),
    (1, "14:00", "Lunch", "Kebab and 3 rotis"),
    (1, "17:00", "Snack", "Some mixed nuts"),
    (1, "19:00", "Dinner", "Rice, dal and cauliflower fry"),
    (1, "22:00", "Snack", "Peanut butter and banana smoothie"),

    (0, "08:30", "Breakfast", ""),
    (0, "14:00", "Lunch", "Rice, dal and omelette"),
    (0, "19:00", "Dinner", "Rice, dal and omelette"),
    
]

# 🍴 Build list of meal logs
meal_logs = []

for day_offset, meal_time_str, meal_type, meal_name in manual_meals:
    meal_datetime = (today - timedelta(days=day_offset)).replace(
        hour=int(meal_time_str.split(":")[0]),
        minute=int(meal_time_str.split(":")[1]),
        second=0, microsecond=0
    )
    meal_logs.append({
        "timestamp": meal_datetime,
        "day": day_offset,
        "meal_name": meal_name,
        "meal_type": meal_type,
        "user_id": 9999  # Your custom user id
    })

# 🍽️ Create DataFrame
user_meals_df = pd.DataFrame(meal_logs).sort_values(by=["timestamp"]).reset_index(drop=True)

# 🖥️ Display
user_meals_df

,timestamp,day,meal_name,meal_type,user_id
0,2025-04-22 08:00:00,6,Mixed nuts and watermelon,Breakfast,9999
1,2025-04-22 13:00:00,6,Grilled chicken salad,Lunch,9999
2,2025-04-22 19:30:00,6,Matar paneer with roti,Dinner,9999
3,2025-04-22 22:00:00,6,Protein bar,Snack,9999
4,2025-04-23 09:00:00,5,Greek yogurt with berries,Breakfast,9999
5,2025-04-23 12:30:00,5,Matar Paneer with Rice,Lunch,9999
6,2025-04-23 15:00:00,5,Grapes,Snack,9999
7,2025-04-23 20:00:00,5,Vegetable stir fry,Dinner,9999
8,2025-04-24 08:30:00,4,,Breakfast,9999
9,2025-04-24 14:00:00,4,2 burgers,Lunch,9999
10,2025-04-24 19:00:00,4,Noodles with mixed vegetables and eggs,Dinner,9999
11,2025-04-24 22:00:00,4,Protein Shake,Snack,9999
12,2025-04-25 08:30:00,3,,Breakfast,9999
13,2025-04-25 14:00:00,3,Chicken curry with brown rice,Lunch,9999
14,2025-04-25 19:00:00,3,Rice with chicken curry,Dinner,9999
15,2025-04-26 08:30:00,2,glass of milk,Breakfast,9999
16,2025-04-26 14:00:00,2,Rice with chicken curry,Lunch,9999
17,2025-04-26 19:00:00,2,Kebab and 3 rotis,Dinner,9999
18,2025-04-27 08:30:00,1,A Banana,Breakfast,9999
19,2025-04-27 14:00:00,1,Kebab and 3 rotis,Lunch,9999
20,2025-04-27 17:00:00,1,Some mixed nuts,Snack,9999
21,2025-04-27 19:00:00,1,"Rice, dal and cauliflower fry",Dinner,9999
22,2025-04-27 22:00:00,1,Peanut butter and banana smoothie,Snack,9999
23,2025-04-28 08:30:00,0,,Breakfast,9999
24,2025-04-28 14:00:00,0,"Rice, dal and omelette",Lunch,9999
25,2025-04-28 19:00:00,0,"Rice, dal and omelette",Dinner,9999

In [18]:
from utils.meal_reasoning import reason_meal_components_and_servings

In [20]:
user_profile_dict = user_profile_df.iloc[0].to_dict()
# Example row
sample_meal = user_meals_df.iloc[0]
components = reason_meal_components_and_servings(
    meal_name=sample_meal['meal_name'],
    meal_type=sample_meal['meal_type'],
    user_profile=user_profile_dict  # define this in notebook from user_profile_df
)

INFO:httpx:HTTP Request: POST https://api.openai.com/v1/chat/completions "HTTP/1.1 200 OK"

In [21]:
print(components)

[{'component': 'Mixed nuts', 'estimated_serving_qty': 1.0, 'serving_unit': 'cup'}, {'component': 'Watermelon', 'estimated_serving_qty': 2.0, 'serving_unit': 'cup'}]

In [22]:
import pandas as pd
from tqdm import tqdm

# Store results here
expanded_meal_rows = []

user_profile_dict = user_profile_df.iloc[0].to_dict()

for idx, row in tqdm(user_meals_df.iterrows(), total=len(user_meals_df)):
    meal_name = row['meal_name']
    meal_type = row['meal_type']
    
    if not meal_name or pd.isnull(meal_name) or meal_name.strip() == '':
        continue  # Skip empty meals
    
    components = reason_meal_components_and_servings(
        meal_name=meal_name,
        meal_type=meal_type,
        user_profile=user_profile_dict
    )
    
    for comp in components:
        expanded_meal_rows.append({
            "user_id": row['user_id'],
            "timestamp": row['timestamp'],
            "day": row['day'],
            "meal_type": meal_type,
            "meal_name": meal_name,
            "component": comp['component'],
            "estimated_serving_qty": comp['estimated_serving_qty'],
            "serving_unit": comp['serving_unit']
        })

# Create a nice DataFrame
user_meal_components_df = pd.DataFrame(expanded_meal_rows)

# 📋 View it
user_meal_components_df.head()

  0%|          | 0/26 [00:00<?, ?it/s]INFO:httpx:HTTP Request: POST https://api.openai.com/v1/chat/completions "HTTP/1.1 200 OK"
  4%|▍         | 1/26 [00:02<01:02,  2.48s/it]INFO:httpx:HTTP Request: POST https://api.openai.com/v1/chat/completions "HTTP/1.1 200 OK"
  8%|▊         | 2/26 [00:07<01:35,  3.99s/it]INFO:httpx:HTTP Request: POST https://api.openai.com/v1/chat/completions "HTTP/1.1 200 OK"
 12%|█▏        | 3/26 [00:09<01:12,  3.15s/it]INFO:httpx:HTTP Request: POST https://api.openai.com/v1/chat/completions "HTTP/1.1 200 OK"
 15%|█▌        | 4/26 [00:11<00:59,  2.72s/it]INFO:httpx:HTTP Request: POST https://api.openai.com/v1/chat/completions "HTTP/1.1 200 OK"
 19%|█▉        | 5/26 [00:15<01:03,  3.03s/it]INFO:httpx:HTTP Request: POST https://api.openai.com/v1/chat/completions "HTTP/1.1 200 OK"
 23%|██▎       | 6/26 [00:18<01:04,  3.21s/it]INFO:httpx:HTTP Request: POST https://api.openai.com/v1/chat/completions "HTTP/1.1 200 OK"
 27%|██▋       | 7/26 [00:20<00:48,  2.57s/it]INFO:httpx:HTTP Request: POST https://api.openai.com/v1/chat/completions "HTTP/1.1 200 OK"
 31%|███       | 8/26 [00:28<01:22,  4.56s/it]INFO:httpx:HTTP Request: POST https://api.openai.com/v1/chat/completions "HTTP/1.1 200 OK"
 38%|███▊      | 10/26 [00:40<01:23,  5.25s/it]INFO:httpx:HTTP Request: POST https://api.openai.com/v1/chat/completions "HTTP/1.1 200 OK"
 42%|████▏     | 11/26 [00:45<01:14,  4.97s/it]INFO:httpx:HTTP Request: POST https://api.openai.com/v1/chat/completions "HTTP/1.1 200 OK"
 46%|████▌     | 12/26 [00:50<01:10,  5.02s/it]INFO:httpx:HTTP Request: POST https://api.openai.com/v1/chat/completions "HTTP/1.1 200 OK"
 54%|█████▍    | 14/26 [00:54<00:44,  3.68s/it]INFO:httpx:HTTP Request: POST https://api.openai.com/v1/chat/completions "HTTP/1.1 200 OK"
 58%|█████▊    | 15/26 [00:57<00:39,  3.61s/it]INFO:httpx:HTTP Request: POST https://api.openai.com/v1/chat/completions "HTTP/1.1 200 OK"
 62%|██████▏   | 16/26 [00:59<00:31,  3.19s/it]INFO:httpx:HTTP Request: POST https://api.openai.com/v1/chat/completions "HTTP/1.1 200 OK"
 65%|██████▌   | 17/26 [01:03<00:31,  3.48s/it]INFO:httpx:HTTP Request: POST https://api.openai.com/v1/chat/completions "HTTP/1.1 200 OK"
 69%|██████▉   | 18/26 [01:06<00:26,  3.32s/it]INFO:httpx:HTTP Request: POST https://api.openai.com/v1/chat/completions "HTTP/1.1 200 OK"
 73%|███████▎  | 19/26 [01:08<00:19,  2.85s/it]INFO:httpx:HTTP Request: POST https://api.openai.com/v1/chat/completions "HTTP/1.1 200 OK"
 77%|███████▋  | 20/26 [01:11<00:17,  2.88s/it]INFO:httpx:HTTP Request: POST https://api.openai.com/v1/chat/completions "HTTP/1.1 200 OK"
 81%|████████  | 21/26 [01:19<00:22,  4.54s/it]INFO:httpx:HTTP Request: POST https://api.openai.com/v1/chat/completions "HTTP/1.1 200 OK"
 85%|████████▍ | 22/26 [01:37<00:33,  8.45s/it]INFO:httpx:HTTP Request: POST https://api.openai.com/v1/chat/completions "HTTP/1.1 200 OK"
 88%|████████▊ | 23/26 [01:43<00:23,  7.70s/it]INFO:httpx:HTTP Request: POST https://api.openai.com/v1/chat/completions "HTTP/1.1 200 OK"
 96%|█████████▌| 25/26 [01:47<00:05,  5.01s/it]INFO:httpx:HTTP Request: POST https://api.openai.com/v1/chat/completions "HTTP/1.1 200 OK"
100%|██████████| 26/26 [01:52<00:00,  4.32s/it]

,user_id,timestamp,day,meal_type,meal_name,component,estimated_serving_qty,serving_unit
0,9999,2025-04-22 08:00:00,6,Breakfast,Mixed nuts and watermelon,Mixed nuts,0.5,cup
1,9999,2025-04-22 08:00:00,6,Breakfast,Mixed nuts and watermelon,Watermelon,2.0,cup
2,9999,2025-04-22 13:00:00,6,Lunch,Grilled chicken salad,Grilled chicken,100.0,g
3,9999,2025-04-22 13:00:00,6,Lunch,Grilled chicken salad,Mixed greens,2.0,cup
4,9999,2025-04-22 13:00:00,6,Lunch,Grilled chicken salad,Tomatoes,0.5,cup

In [23]:
user_meal_components_df

,user_id,timestamp,day,meal_type,meal_name,component,estimated_serving_qty,serving_unit
0,9999,2025-04-22 08:00:00,6,Breakfast,Mixed nuts and watermelon,Mixed nuts,0.5,cup
1,9999,2025-04-22 08:00:00,6,Breakfast,Mixed nuts and watermelon,Watermelon,2.0,cup
2,9999,2025-04-22 13:00:00,6,Lunch,Grilled chicken salad,Grilled chicken,100.0,g
3,9999,2025-04-22 13:00:00,6,Lunch,Grilled chicken salad,Mixed greens,2.0,cup
4,9999,2025-04-22 13:00:00,6,Lunch,Grilled chicken salad,Tomatoes,0.5,cup
...,...,...,...,...,...,...,...,...
69,9999,2025-04-28 14:00:00,0,Lunch,"Rice, dal and omelette",Dal,1.0,cup
70,9999,2025-04-28 14:00:00,0,Lunch,"Rice, dal and omelette",Omelette,1.0,piece
71,9999,2025-04-28 19:00:00,0,Dinner,"Rice, dal and omelette",Rice,1.5,cup
72,9999,2025-04-28 19:00:00,0,Dinner,"Rice, dal and omelette",Dal,1.0,cup
73,9999,2025-04-28 19:00:00,0,Dinner,"Rice, dal and omelette",Omelette,1.0,piece

In [24]:
import requests
from dotenv import load_dotenv
import os
import time

# Load keys
load_dotenv("../.env", override=True)
app_id = os.getenv("NUTRITIONIX_APP_ID")
api_key = os.getenv("NUTRITIONIX_API_KEY")

# Nutritionix endpoint
NUTRITIONIX_URL = "https://trackapi.nutritionix.com/v2/natural/nutrients"

# 🧮 Store results
nutrition_records = []

# 🌀 Loop through component rows
for _, row in user_meal_components_df.iterrows():
    query = f"{row['estimated_serving_qty']} {row['serving_unit']} {row['component']}"
    
    headers = {
        "x-app-id": app_id,
        "x-app-key": api_key,
        "Content-Type": "application/json"
    }
    payload = {"query": query}

    try:
        response = requests.post(NUTRITIONIX_URL, headers=headers, json=payload)
        response.raise_for_status()
        food_data = response.json()["foods"][0]

        nutrition_records.append({
            "timestamp": row["timestamp"],
            "user_id": row["user_id"],
            "meal_type": row["meal_type"],
            "meal_name": row["meal_name"],
            "component": row["component"],
            "serving_qty": food_data["serving_qty"],
            "serving_unit": food_data["serving_unit"],
            "serving_weight_grams": food_data["serving_weight_grams"],
            "calories": food_data["nf_calories"],
            "protein_g": food_data["nf_protein"],
            "carbs_g": food_data["nf_total_carbohydrate"],
            "fats_g": food_data["nf_total_fat"]
        })

    except Exception as e:
        print(f"❌ Failed on {query}: {e}")
        continue

    time.sleep(1.1)  # ⏱️ Respect rate limits (60 req/min for free tier)

# 📊 Final DataFrame
import pandas as pd
meal_nutrition_df = pd.DataFrame(nutrition_records)
meal_nutrition_df.head()

,timestamp,user_id,meal_type,meal_name,component,serving_qty,serving_unit,serving_weight_grams,calories,protein_g,carbs_g,fats_g
0,2025-04-22 08:00:00,9999,Breakfast,Mixed nuts and watermelon,Mixed nuts,0.5,cup,68.50,406.89,11.85,17.36,35.24
1,2025-04-22 08:00:00,9999,Breakfast,Mixed nuts and watermelon,Watermelon,2.0,cups,306.00,91.80,1.87,23.10,0.46
2,2025-04-22 13:00:00,9999,Lunch,Grilled chicken salad,Grilled chicken,100.0,g,100.00,148.00,29.50,0.00,3.39
3,2025-04-22 13:00:00,9999,Lunch,Grilled chicken salad,Mixed greens,2.0,cups,453.60,106.60,6.58,22.46,1.04
4,2025-04-22 13:00:00,9999,Lunch,Grilled chicken salad,Tomatoes,0.5,cup,82.25,14.81,0.72,3.20,0.16

In [26]:
# 🧮 Group and sum macro values for each meal
grouped_meals_df = (
    meal_nutrition_df
    .groupby(['timestamp', 'user_id', 'meal_type', 'meal_name'], as_index=False)[
        ['calories', 'protein_g', 'carbs_g', 'fats_g']
    ]
    .sum()
)

# 🖨️ Preview the result
import pandas as pd
pd.set_option("display.precision", 2)
grouped_meals_df

,timestamp,user_id,meal_type,meal_name,calories,protein_g,carbs_g,fats_g
0,2025-04-22 08:00:00,9999,Breakfast,Mixed nuts and watermelon,498.69,13.72,40.46,35.70
1,2025-04-22 13:00:00,9999,Lunch,Grilled chicken salad,419.86,37.84,32.53,18.08
2,2025-04-22 19:30:00,9999,Dinner,Matar paneer with roti,664.81,22.63,56.65,39.36
3,2025-04-22 22:00:00,9999,Snack,Protein bar,211.06,20.00,21.00,5.20
4,2025-04-23 09:00:00,9999,Breakfast,Greek yogurt with berries,166.11,23.80,15.87,1.19
5,2025-04-23 12:30:00,9999,Lunch,Matar Paneer with Rice,613.07,20.13,61.49,31.89
6,2025-04-23 15:00:00,9999,Snack,Grapes,156.29,1.63,41.00,0.36
7,2025-04-23 20:00:00,9999,Dinner,Vegetable stir fry,585.54,27.39,72.13,24.19
8,2025-04-24 14:00:00,9999,Lunch,2 burgers,1928.92,119.09,132.80,101.68
9,2025-04-24 19:00:00,9999,Dinner,Noodles with mixed vegetables and eggs,596.47,30.29,90.61,12.47
10,2025-04-24 22:00:00,9999,Snack,Protein Shake,374.19,35.64,30.91,13.42
11,2025-04-25 14:00:00,9999,Lunch,Chicken curry with brown rice,562.85,30.02,55.29,24.38
12,2025-04-25 19:00:00,9999,Dinner,Rice with chicken curry,714.77,32.65,80.91,28.27
13,2025-04-26 08:30:00,9999,Breakfast,glass of milk,122.00,8.05,11.71,4.83
14,2025-04-26 14:00:00,9999,Lunch,Rice with chicken curry,824.77,44.63,80.94,34.81
15,2025-04-26 19:00:00,9999,Dinner,Kebab and 3 rotis,1831.36,105.12,144.97,90.58
16,2025-04-27 08:30:00,9999,Breakfast,A Banana,105.02,1.29,26.95,0.39
17,2025-04-27 14:00:00,9999,Lunch,Kebab and 3 rotis,1831.36,105.12,144.97,90.58
18,2025-04-27 17:00:00,9999,Snack,Some mixed nuts,580.71,19.12,23.76,49.91
19,2025-04-27 19:00:00,9999,Dinner,"Rice, dal and cauliflower fry",558.50,22.91,105.80,5.40
20,2025-04-27 22:00:00,9999,Snack,Peanut butter and banana smoothie,479.02,16.42,63.63,21.07
21,2025-04-28 14:00:00,9999,Lunch,"Rice, dal and omelette",853.45,41.76,102.09,30.16
22,2025-04-28 19:00:00,9999,Dinner,"Rice, dal and omelette",853.45,41.76,102.09,30.16

In [29]:
import pandas as pd

# ⏱️ Ensure timestamp column is datetime type
meal_nutrition_df['timestamp'] = pd.to_datetime(meal_nutrition_df['timestamp'])

# 📆 Extract date (or day index if needed)
meal_nutrition_df['day'] = meal_nutrition_df['timestamp'].dt.date  # or use .dt.day if index

# 🧮 Group by date and aggregate
daily_summary_df = (
    meal_nutrition_df
    .groupby('day')
    .agg({
        'calories': 'sum',
        'protein_g': 'sum',
        'carbs_g': 'sum',
        'fats_g': 'sum',
        'meal_type': lambda x: ', '.join(x),
        'meal_name': lambda x: ', '.join(x)
    })
    .rename(columns={
        'calories': 'total_calories',
        'protein_g': 'total_protein_g',
        'carbs_g': 'total_carbs_g',
        'fats_g': 'total_fats_g',
        'meal_type': 'all_meal_types',
        'meal_name': 'all_meal_names'
    })
    .reset_index()
)

# ✅ Preview result
daily_summary_df

,day,total_calories,total_protein_g,total_carbs_g,total_fats_g,all_meal_types,all_meal_names
0,2025-04-22,1794.42,94.19,150.64,98.34,"Breakfast, Breakfast, Lunch, Lunch, Lunch, Lun...","Mixed nuts and watermelon, Mixed nuts and wate..."
1,2025-04-23,1521.01,72.95,190.49,57.63,"Breakfast, Breakfast, Lunch, Lunch, Snack, Din...","Greek yogurt with berries, Greek yogurt with b..."
2,2025-04-24,2899.58,185.02,254.32,127.57,"Lunch, Lunch, Lunch, Lunch, Lunch, Lunch, Lunc...","2 burgers, 2 burgers, 2 burgers, 2 burgers, 2 ..."
3,2025-04-25,1277.62,62.67,136.20,52.65,"Lunch, Lunch, Lunch, Dinner, Dinner, Dinner","Chicken curry with brown rice, Chicken curry w..."
4,2025-04-26,2778.13,157.80,237.62,130.22,"Breakfast, Lunch, Lunch, Lunch, Dinner, Dinner","glass of milk, Rice with chicken curry, Rice w..."
5,2025-04-27,3554.61,164.86,365.11,167.35,"Breakfast, Lunch, Lunch, Snack, Snack, Snack, ...","A Banana, Kebab and 3 rotis, Kebab and 3 rotis..."
6,2025-04-28,1706.90,83.52,204.18,60.32,"Lunch, Lunch, Lunch, Dinner, Dinner, Dinner","Rice, dal and omelette, Rice, dal and omelette..."